/* header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #3F1063; /* Purple background */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px; /* Adjust the size of the logo as needed */
  height: auto;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links div {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links div:hover {
  color: #ccc; /* Lighter color on hover */
}

.buttons-container {
  display: flex;
  gap: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button.contact {
  background-color: #DFE6D0;
  color: black;
}

.button.donate {
  background-color: #EE7331;
  color: white;
}

.arrow-icon {
  width: 11px; /* Adjust the size of the arrow */
  height: auto;
  display: inline-block;
  margin-left: 9px; /* Add a little space between the text and the icon */
}

html {
  scroll-behavior: smooth;
}
