/* header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #4b2265; /* Purple background */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px; /* Adjust the size of the logo as needed */
  height: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links div {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links div:hover {
  color: #ccc; /* Lighter color on hover */
}

.buttons-container {
  display: flex;
  gap: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button.contact {
  background-color: #e0e2d3;
  color: black;
}

.button.donate {
  background-color: #f25d30;
  color: white;
}

html {
  scroll-behavior: smooth;
}
