.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #204b46;
  position: relative;
  height: 80vh; /* Reduced height from 100vh to 90vh */
  padding: 20px;
  padding-bottom: 0px; /* Remove or reduce bottom padding */
}

.vertical-text {
  position: absolute;
  left: 5%;
  top: 90%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: left top;
  font-size: 5rem;
  color: white;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  z-index: 2; /* Ensure it's above background but below main content */
}

.content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green-blob {
  position: absolute;
  width: 500px; 
  height: auto; 
  z-index: 1;
  top: 30%;
}

.animal-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: -150px;  /* Adjust to move the animals up */
  z-index: 2;
  width: 100%;
  height: 200px;
}

.white-cat {
  position: relative;
  left: 30px; /* Adjust positioning */
  top: 85%;
  width: 180px;
  height: auto;
}

.brown-dog {
  position: relative;
  top: 15%; /* Move this image slightly higher */
  width: 180px;
  height: auto;
  left: -20px;
}

.black-dog {
  position: relative;
  right: 0; /* Adjust positioning */
  top: -15px; 
  width: 236px;
  height: auto;
}

.black-cat {
  position: relative;
  right: 40px; /* Adjust positioning */
  top: 80%; 
  width: 180px;
  height: auto;
}

.text-content {
  text-align: center;
  z-index: 3;
  margin-top: 20px;
}

.text-content h1 {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.2rem;
  color: #000;
}

.meet-furry-button {
  background-color: #b2f385;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.meet-furry-button .arrow {
  margin-left: 10px;
}
