.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #204b46;
  position: relative;
  height: 70vh;
  padding: 20px;
  padding-bottom: 0px;
}

.vertical-text {
  position: absolute;
  left: 5%;
  top: 90%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: left top;
  font-size: 5rem;
  color: white;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  z-index: 2;
}

.content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green-blob {
  position: absolute;
  width: 500px;
  height: auto;
  z-index: 1;
  top: 30%;
}

.animal-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: -150px;
  z-index: 2;
  width: 100%;
  height: 200px;
}

.white-cat {
  position: relative;
  left: 30px;
  top: 85%;
  width: 180px;
  height: auto;
}

.brown-dog {
  position: relative;
  top: 15%;
  width: 180px;
  height: auto;
  left: -20px;
}

.black-dog {
  position: relative;
  right: 0;
  top: -15px;
  width: 236px;
  height: auto;
}

.black-cat {
  position: relative;
  right: 40px;
  top: 80%;
  width: 180px;
  height: auto;
}

.text-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  top: 80%; /* Aligning it vertically in the middle of the blob */
  left: 50%; /* Aligning it horizontally in the middle of the blob */
  transform: translate(-50%, -50%);
}

.text-content h1 {
  font-size: 2.8rem;
  color: #000;
  margin-bottom: 20px;
  width: 70%;
}

.text-content p {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.button-container {
  z-index: 3;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px; /* Adjust this to place it below the green blob */
}

.meet-furry-button {
  background-color: #b2f385;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px; /* Space between text and arrow */
}

.meet-furry-button .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* White box around the arrow */
  width: 30px;
  height: 30px;
  border-radius: 30%;
}

.meet-furry-button .arrow img {
  width: 12px;
  height: 12px;
}

/* SVG Icon Styles */
.top-right-icon {
  position: absolute;
  top: 10%; /* Adjust the position as needed */
  right: 10%; /* Adjust the position as needed */
  width: 50px; /* Set the width as needed */
  height: auto;
  z-index: 3;
}

.bottom-right-icon {
  position: absolute;
  bottom: 16%; /* Adjust the position as needed */
  right: 10%; /* Adjust the position as needed */
  width: 60px; /* Set the width as needed */
  height: auto;
  z-index: 3;
  scale: 4;
}
